.inputField {
  flex: 1;
  padding: 1.1rem 1.5rem; /* Légèrement plus de padding */
  border: 1px solid var(--border-light);
  border-radius: 8px;
  font-size: 1.1rem;
  color: var(--text-dark);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  background-color: var(--bg-white);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
  width: 100%; /* S'assure qu'il prend l'espace disponible */
}

.inputField:focus {
  outline: none;
  border-color: var(--primary-blue);
  box-shadow: 0 0 0 4px rgba(0, 112, 243, 0.25);
}

.primaryButton {
  background-color: var(--primary-blue);
  color: white;
  padding: 1.1rem 2.5rem; /* Plus généreux */
  border: none;
  border-radius: 8px;
  font-size: 1.15rem; /* Un peu plus grand */
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0 5px 15px var(--shadow-strong-blue); /* Ombre plus visible */
}

.primaryButton:hover {
  background-color: #005bb5;
  transform: translateY(-3px);
  box-shadow: 0 6px 18px var(--shadow-strong-blue);
}